<app-header></app-header>
<h1 class="h3 mb-3 fw-normal text-center mt-3">Bienvenido a Inventec</h1>
<div class="container-md border border-dark m-3 p-3 mx-auto">
    <h3 class="h3">MercadoTec</h3>
    <div class="container-fluid mt-3">
        <div class="row">
          <div >
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">Datos del documento</h5>
                <p class="card-text">Nombre:</p>
                <p class="card-text"></p>
                <!-- <a *ngIf="catalogo.disponible; else noDisponible" href="#" class="btn btn-primary">Comprar</a> -->
                <!-- <ng-template #noDisponible><a class="btn btn-secondary" disabled>no disponible</a></ng-template> -->
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

